# Ignore version control
.git
.gitignore

# Dependency directories
node_modules
vendor

# Build outputs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
main

# Local dev junk
.DS_Store
.env
*.swp

# IDE/editor configs
.vscode
.idea

# Ignore Dockerfile if not used
docker-compose.yml
.dockerignore
